* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 300;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

:focus {
  outline: 0;
}

input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}
input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}
input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}
