
.footer {
  display: flex;
  background-color: #fff;
  height: 45px;
  align-items: center;
  color: rgb(119, 119, 119);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}

.footer__items-count {
  padding-left: 20px;
}

.footer__filters {
  padding-left: 100px;
}

.footer__filter-button {
  margin-left: 5px;
  border: none;

  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.footer__filter-button:hover {
  // Hack
  &:not(.footer__filter-button--selected) {
    border-color: rgba(175, 47, 47, 0.1);
  }
}

.footer__filter-button--selected {
  border-color: rgba(175, 47, 47, 0.2);
}
