.new-todo {
  height: 65px;
  background-color: #fff;
}

.new-todo__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 16px 16px 16px 60px;
  color: #4d4d4d;
  
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4em;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}
