.todo-item {
  height: 65px;
  background-color: #fff;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  color: #4d4d4d;
  display: flex;
}

.todo-item__left {
  width: 65px;
  display: flex;
  align-items: center;
}

.todo-item__middle {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.todo-item__right {
  width: 50px;
  display: flex;
  align-items: center;
}

.todo-item__delete {
  border: none;
}

.todo-item__text {
  
  // Hack to remove underline from material ui textbox
  [class*="MuiInput-underline-"]::before {
    content: none !important;
  }
}

.todo-item__text--completed {
  text-decoration: line-through;
}
